/* 💬 WhatsApp Button */
 .whatsapp-float {
   position: fixed;
   bottom: 20px;
   right: 20px;
   width: 60px;
   height: 60px;
   background-color: #25D366;
   border-radius: 50%;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 999;
   transition: transform 0.3s;
 }

 .whatsapp-float:hover {
   transform: scale(1.1);
 }

 .whatsapp-float img {
   width: 30px;
   height: 30px;
 }
